
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
}
.navbar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 30px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
}

.logo{
    color: white;
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.logo span{
    color: red;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 30px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    padding-right: 50px;
    transition: .7s;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(136, 133, 133, 0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-right: 30px;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.553);
    color: black;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar1 ul{
    display: none;
  }

  main{
    display: flex;
    flex-direction: column;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: white;
  }

  .content img{
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin-bottom: 20px;
    margin-top: 70px;

    box-shadow: 0 0 20px 0 rgba(245, 118, 118, 0.91);
  }

  h1{
    color: rgb(244, 244, 244);
    overflow: hidden;
    text-align: center;
    font-size: 30px;
  }

  .name{
    color: rgb(250, 47, 47);
    font-size: 25px;
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .about p{
    margin-top: 10px;
  }

button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    margin-top: 20px;
    display: inline-block;
    transition: .7s;
}
button a{
    text-decoration: none;
    color: white;
}
button a:hover {
    background-color: red;
    transition: .7s;
}
button:hover {
    background-color: red;
    transition: .7s;
}

i:hover{
    color: red;
    transition: .7s;
    background-color: red;
}


/* Contact Section */

.contact-section {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1rem;
}

.contact-section h5 {
  color: white;
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 1em ;
  position: relative;
  padding: 0.5em 1em;
  width: fit-content;
}

.contact-section h5::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 70%;
  width: 45%;
  border-bottom: 5px solid red;
  transform: translateX(-50%);
}

.contact-intro > * + * {
  margin-top: 1rem;
}

.contact-description {
  color: rgb(107 114 128);
}

.form-group-container {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 0.5rem;
  text-align: left;
}

.form-input,
.form-textarea {
  padding: 0.5rem;
  border: 1px solid #e5e7eb;
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.form-input::placeholder,
.form-textarea:focus-visible {
  color: #6b7280;
}

.form-input:focus-visible,
.form-textarea:focus-visible {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

.form-textarea {
  min-height: 120px;
}

.form-submit {
  width: 100%;
  margin-top: 1.2rem;
  background-color: #3124ca;
  color: #fff;
  padding: 13px 5px;
  border-radius: 0.375rem;
}

/* About Section */

.about-intro1 i{
  color: white;
  font-size: 30px;
}

/* Projects Section */

.card-Container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  min-width: 350px;
  margin-top: 80px;
  border-radius: 20px;
  position: relative;
}

.card1{
  background-image: url(images/Benda\ Express\ screenshot.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.91);
}

.card2{
  background-image: url(images/SD\ screenshot.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.91);
}

.card3{
  background-image: url(images/azfar\ media\ screenshot.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.91);
}

.card4{
  background-image: url(images/FEM\ screenshot.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  /*box-shadow: 8px 4px 15px 4px rgba(237, 141, 141, 0.91);*/
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.91);
}

.card5{
  background-image: url(images/ISM\ portfolio.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.91);
}

.card6{
  background-image: url(images/Pacific\ Trail\ resort\ project.PNG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 350px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.91);
}

.card-description{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
}

.card-description h6{
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(28, 183, 26);
  font-size: 15px;
}

.card-description p{
  color: rgb(255, 255, 255);
  text-align: center;
  padding:  0 5px 10px 10px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

progress{
  width: 80%;
  height: 20px;
  margin: 5px;
  border-radius: 10px 10px 10px 10px;
}

.card4 progress::-webkit-progress-bar {
  background-color: #2e2929;
}

/* Resume Section */  

.resume-container{
  display: none;
}

.resume-link{
  border: 1px solid white;
  padding: 20px 20px;
  box-shadow: 0 0 15px 0 rgba(111, 111, 111, 0.91);
}

.resume-link p{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}






/* Media Queries */

   /* Tablet */
@media (min-width: 600px){

  .navbar{
    display: none;
  }

  .navbar1 ul{
    display: flex;
    color: white;
    margin: 0 auto;
    margin-top: 15px;
  }

  .navbar1 ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
  }

  .navbar1 ul li:hover{
    background-color: red;
    transition: .7s;
  }

  .navbar1 ul li a:hover{
    background-color: red;
    transition: .7s;
  }

  .navbar1 ul li a{
    color: white;
    text-decoration: none;
  }

  .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    width: 80%;
    margin: 0 auto;
  }

  .contact-section{
    min-width: 100vh;
  }

  

  .about{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
    margin-left: 50px;
  }

  .about-intro1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-intro1 p{
    color: white;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  .about-intro2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-intro2 p{
    color: white;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  .card-Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card{
    min-width: 280px;
    margin-top: 80px;
    border-radius: 20px;
    position: relative;
  }

  .card1{
    width: 280px;
    height: 300px;
  }

  .card2{
    width: 280px;
    height: 300px;
  }

  .card3{
    width: 280px;
    height: 300px;
  }

  .card4{
    width: 280px;
    height: 300px;
  }

  .card5{
    width: 280px;
    height: 300px;
  }

  .card6{
    width: 280px;
    height: 300px;
  }

  /* Resume Section */

.resume-container {
  display: block;
  min-width: 100%;
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.resume-link{
  display: none;
}

.head {
  text-align: center;
  margin-bottom: 20px;
}

.head h2 {
  margin: 0;
  color: #f6f1f1;
}

head p {
  margin: 5px 0;
}

a {
  color: #9fc5ee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.entry{
  text-align: left;
  padding-left: 10px;
  margin-bottom: 30px;
  
}

.entry li {
  padding-bottom: 10px;
}

.entry span {
  font-weight: bold;
  float: right;
  padding-right: 5px;
}

 .certifications ul, .skills .entry{
  padding: 20px 10px 10px 10px;

 }


  

h2 {
  background: #007bff;
  color: white;
  padding: 10px;
}

h3 {
  margin: 10px 0 5px;
  color: #d7e0fe;
}

ul {
  margin: 5px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

  

  
}

   /* Desktop */
@media (min-width: 1024px){

  

  .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 80%;
  }

  .contact-section{
    width: 100%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
  }
  .about{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
  }

  .about h1{
    text-align: center;
  }

  .about-intro1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-intro1 p{
    color: white;
    margin: 50px 0 0 50px;
    text-align: left;
  }

  .about-intro2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-intro2 p{
    color: white;
    margin: 50px 0 0 50px;
    text-align: left;
  }
  
} 


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

h5{
  margin: 0 auto;
  position: relative;
}

h5::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 15%;
  border-bottom: 5px solid red;
  transform: translateX(-50%);
}